<div class="panel">
    <div class="panel-body">
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h1>{{movie.name}} <small>({{movie.releaseDate | date:'yyyy'}})</small></h1>
                    <h3><small>Rating:</small> 
                        <uib-rating readonly="true" ng-model="movie.rating" max="5" state-on="'mdi-action-grade mdi-material-teal'"
                                    state-off="'mdi-action-grade'">
                        </uib-rating></h3>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3>Gross income: <strong>{{movie.grossIncome| currency}}</strong></h3>
                <h3>Director: <strong>{{movie.director}} </strong></h3>
                <h3>Genre: <strong>{{movie.genre}}</strong></h3>
                <h3>Cast:</h3>
                <h3>
                    <span style="margin-right:5px" ng-repeat="actor in movie.actors" 
                          class="label label-primary"><a style="color:white" href="#/actor/{{actor.id}}">{{actor.firstName}} {{actor.lastName}}</a></span>
                </h3>
                
                
            </div>

        </div>
    </div>
</div>